* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: {
    family: Arial, Helvetica, sans-serif;
    style: normal;
    weight: normal;
    size: 14px;
  }

  ul {
    list-style: none;
    list-style-type: none;
  }

  a,
  a:hover {
    text-decoration: none;
  }
}

$color-body: #f2f4f8;
$color-gray: #727989;
$color-gray-light: #646d81;
$color-gray-light-l: #99a1b3;
$color-blue: #4f9cd4;

.headerMob {
  display: none;
}

body {
  background-color: $color-body;
}

.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
}

header {
  background-color: #2d313d;

  .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &__logo img {
      width: 32px;
      height: 20px;
      margin: 18px 0 18px 6px;
    }

    &__right {
      width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .fa {
        color: $color-gray;
        font-size: 18px;
        cursor: pointer;
      }

      &_city {
        color: $color-gray;
        a {
          color: $color-gray;
          border-bottom: dashed 1px;
          margin-right: 10px;
        }

        .fa {
          font-size: 18px;
          cursor: pointer;
        }
      }

      &_user {
        display: flex;
        align-items: center;
        span {
          color: $color-gray;
          margin-right: 10px;
        }
      }
    }
  }
}

.header-nav {
  background-color: $color-gray-light;
  ul {
    display: flex;
    li {
      position: relative;
      padding: 12px 0;
      margin-right: 30px;

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 2px;
        background-color: $color-body;
        transition: width 0.3s ease-out;
      }

      &:hover::after,
      &:focus::after {
        width: 100%;
      }
      a {
        position: relative;
        color: #fff;
      }
    }
  }
}

main {
  .wrapper {
    box-shadow: 0 3px 10px #e0e2e6;
  }
}

.menu {
  background-color: #fff;
  width: 40%;
  min-width: 170px;
  padding-top: 20px;

  h3 {
    margin-top: 32px;
    padding: 10px 30px 10px 25px;
    font: 18px Georgia;
  }

  li {
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 0;
      width: 2px;
      background-color: $color-gray;
      transition: height 0.3s ease-out;
    }

    &:hover::after,
    &:focus::after {
      height: 100%;
    }

    a {
      display: block;
      padding: 10px;
      margin-bottom: 10px;
      //   border: solid #99a1b3 1px;
      position: relative;
      color: $color-gray-light-l;

      &:hover {
        color: #000;
      }
    }
  }
}

.content {
  height: 100vh;
  //   position: relative;
  background-color: #fff;
  border-left: solid #e0e4ed 1px;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    padding: 30px 0 20px 30px;

    &_title {
      font: 30px Georgia;
    }

    &_select {
      margin-left: 28px;
      border-bottom: dashed 1px;
      font: 30px Georgia;
    }

    .fa-angle-down {
      font-size: 30px;
      align-self: flex-end;
      padding-left: 10px;
      cursor: pointer;
    }
  }

  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-body;
    padding: 5px 30px;
    color: $color-gray-light-l;

    input[type="search"] {
      padding-left: 10px;
      outline: none;
      -webkit-appearance: none;
      font: 14px Arial;
      width: 280px;
      height: 40px;
      border: solid #d6d9e1 1px;
      border-radius: 5px;
      display: inline-block;
      background: url(http://fe.it-academy.by/Sites/0013145/images/search.png)
        no-repeat 250px 9px;
      background-color: white;

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        display: none;
      }

      &::placeholder {
        color: $color-gray-light-l;
      }
    }

    &__items {
      width: 25%;
      display: flex;
      justify-content: space-between;
      margin-right: 30px;

      span {
        font: 12px Georgia;
      }
    }
  }

  .post {
    margin: 30px;
    display: flex;
    color: $color-gray-light-l;

    &__img {
      margin-right: 15px;
    }

    &__container {
      &_wrap {
        display: flex;
        justify-content: space-between;

        &-user {
          span:first-child {
            font-size: 12px;
          }
          span:last-child {
            padding: 5px 15px;
            background-color: $color-body;
            border-radius: 5px;
            margin-left: 26px;
            font-size: 12px;
          }
        }

        &-commets {
          margin-right: 18px;
          span {
            font-size: 12px;
            padding-right: 10px;
          }
        }
      }

      h3 {
        color: $color-blue;
        font: bold 16px Arial;
        padding: 5px 0 5px;
      }

      p {
        color: #000;
        padding-bottom: 14px;
      }

      .post__container_tags {
        .fa,
        span {
          font-size: 12px;
        }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;

    a {
      text-decoration: none;
      color: black;
      border: solid $color-gray-light-l 1px;
      border-radius: 4px;

      &:first-child {
        margin-right: 10px;
        padding: 10px 18px 10px 13px;

        .fa {
          padding-right: 12px;
        }
      }

      &:last-child {
        padding: 10px 13px 10px 18px;

        .fa {
          padding-left: 12px;
        }
      }
    }
  }

  .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    nav {
      background-color: $color-body;
      padding: 14px 0 14px 28px;
      margin-bottom: 1px;

      ul {
        display: flex;

        li {
          margin-right: 18px;

          a {
            color: $color-gray-light-l;
            font-size: 12px;
          }
        }
      }
    }

    .allrights {
      display: flex;
      background-color: $color-body;
      padding: 14px 0 14px 28px;

      span {
        color: $color-gray-light-l;
        font-size: 12px;
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 670px) {
  * {
    font-size: 18px;
  }

  header {
    display: none;
  }
  .header-nav {
    display: none;
  }

  .menu {
    display: none;
  }

  .menuMobile {
    display: none;
    position: absolute;
    top: 0;
    background-color: $color-gray-light;
    width: 150px;
    z-index: 10000;
    top: 85px;
    border: solid black 2px;
    li {
      padding: 5px 15px;

      a {
        color: white;
      }
    }
  }

  .headerMob {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .pageTitle {
      font-size: 36px;
      color: #fff;
    }

    .fa-search {
      font-size: 36px;
      color: #fff;
      cursor: pointer;
    }
  }

  .icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .hamburger {
    position: relative;
    width: 40px;
    height: 4px;
    transform: translate(-50%, -50%);
    background: #fff;
    transition: 0.5s;
    display: inline-block;
    margin-left: 12px;
  }

  .hamburger:before,
  .hamburger:after {
    content: "";
    width: 40px;
    height: 4px;
    position: absolute;
    background: #fff;
    transition: 0.5s;
  }

  .hamburger:before {
    top: -16px;
  }

  .hamburger:after {
    top: 16px;
  }

  .icon.active .hamburger {
    background: rgba(0, 0, 0, 0);
  }

  .icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
  }

  .icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
  }

  .content {
    height: auto;

    &__container {
      justify-content: center;
      flex-wrap: wrap;
      &_title {
        font: 50px Georgia;
      }

      &_select {
        margin-left: 28px;
        border-bottom: dashed 1px;
        font: 50px Georgia;
      }

      .fa-angle-down {
        font-size: 35px;
        align-self: center;
      }
    }

    .buttons {
      margin: 90px 0;
      a {
        font-size: 22px;

        &:first-child {
          padding: 27px 40px 27px 30px;
        }

        &:last-child {
          padding: 27px 30px 27px 40px;
        }
      }
    }

    .footer {
      position: inherit;

      nav {
        padding: 30px 0;
        ul {
          justify-content: space-around;
          li {
            a {
              font-size: 18px;
            }
          }
        }
      }

      .allrights {
        display: none;
      }
    }
  }
}
