* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

* ul {
  list-style: none;
  list-style-type: none;
}

* a,
* a:hover {
  text-decoration: none;
}

.headerMob {
  display: none;
}

body {
  background-color: #f2f4f8;
}

.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

header {
  background-color: #2d313d;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container__logo img {
  width: 32px;
  height: 20px;
  margin: 18px 0 18px 6px;
}

header .container__right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container__right .fa {
  color: #727989;
  font-size: 18px;
  cursor: pointer;
}

header .container__right_city {
  color: #727989;
}

header .container__right_city a {
  color: #727989;
  border-bottom: dashed 1px;
  margin-right: 10px;
}

header .container__right_city .fa {
  font-size: 18px;
  cursor: pointer;
}

header .container__right_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container__right_user span {
  color: #727989;
  margin-right: 10px;
}

.header-nav {
  background-color: #646d81;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav ul li {
  position: relative;
  padding: 12px 0;
  margin-right: 30px;
}

.header-nav ul li::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 2px;
  background-color: #f2f4f8;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.header-nav ul li:hover::after, .header-nav ul li:focus::after {
  width: 100%;
}

.header-nav ul li a {
  position: relative;
  color: #fff;
}

main .wrapper {
  -webkit-box-shadow: 0 3px 10px #e0e2e6;
          box-shadow: 0 3px 10px #e0e2e6;
}

.menu {
  background-color: #fff;
  width: 40%;
  min-width: 170px;
  padding-top: 20px;
}

.menu h3 {
  margin-top: 32px;
  padding: 10px 30px 10px 25px;
  font: 18px Georgia;
}

.menu li {
  position: relative;
}

.menu li::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 2px;
  background-color: #727989;
  -webkit-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
}

.menu li:hover::after, .menu li:focus::after {
  height: 100%;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  color: #99a1b3;
}

.menu li a:hover {
  color: #000;
}

.content {
  height: 100vh;
  background-color: #fff;
  border-left: solid #e0e4ed 1px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 20px 30px;
}

.content__container_title {
  font: 30px Georgia;
}

.content__container_select {
  margin-left: 28px;
  border-bottom: dashed 1px;
  font: 30px Georgia;
}

.content__container .fa-angle-down {
  font-size: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-left: 10px;
  cursor: pointer;
}

.content .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f4f8;
  padding: 5px 30px;
  color: #99a1b3;
}

.content .form input[type="search"] {
  padding-left: 10px;
  outline: none;
  -webkit-appearance: none;
  font: 14px Arial;
  width: 280px;
  height: 40px;
  border: solid #d6d9e1 1px;
  border-radius: 5px;
  display: inline-block;
  background: url(http://fe.it-academy.by/Sites/0013145/images/search.png) no-repeat 250px 9px;
  background-color: white;
}

.content .form input[type="search"]::-webkit-search-decoration, .content .form input[type="search"]::-webkit-search-cancel-button, .content .form input[type="search"]::-webkit-search-results-button, .content .form input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.content .form input[type="search"]::-webkit-input-placeholder {
  color: #99a1b3;
}

.content .form input[type="search"]:-ms-input-placeholder {
  color: #99a1b3;
}

.content .form input[type="search"]::-ms-input-placeholder {
  color: #99a1b3;
}

.content .form input[type="search"]::placeholder {
  color: #99a1b3;
}

.content .form__items {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 30px;
}

.content .form__items span {
  font: 12px Georgia;
}

.content .post {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #99a1b3;
}

.content .post__img {
  margin-right: 15px;
}

.content .post__container_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .post__container_wrap-user span:first-child {
  font-size: 12px;
}

.content .post__container_wrap-user span:last-child {
  padding: 5px 15px;
  background-color: #f2f4f8;
  border-radius: 5px;
  margin-left: 26px;
  font-size: 12px;
}

.content .post__container_wrap-commets {
  margin-right: 18px;
}

.content .post__container_wrap-commets span {
  font-size: 12px;
  padding-right: 10px;
}

.content .post__container h3 {
  color: #4f9cd4;
  font: bold 16px Arial;
  padding: 5px 0 5px;
}

.content .post__container p {
  color: #000;
  padding-bottom: 14px;
}

.content .post__container .post__container_tags .fa,
.content .post__container .post__container_tags span {
  font-size: 12px;
}

.content .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .buttons a {
  text-decoration: none;
  color: black;
  border: solid #99a1b3 1px;
  border-radius: 4px;
}

.content .buttons a:first-child {
  margin-right: 10px;
  padding: 10px 18px 10px 13px;
}

.content .buttons a:first-child .fa {
  padding-right: 12px;
}

.content .buttons a:last-child {
  padding: 10px 13px 10px 18px;
}

.content .buttons a:last-child .fa {
  padding-left: 12px;
}

.content .footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.content .footer nav {
  background-color: #f2f4f8;
  padding: 14px 0 14px 28px;
  margin-bottom: 1px;
}

.content .footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .footer nav ul li {
  margin-right: 18px;
}

.content .footer nav ul li a {
  color: #99a1b3;
  font-size: 12px;
}

.content .footer .allrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2f4f8;
  padding: 14px 0 14px 28px;
}

.content .footer .allrights span {
  color: #99a1b3;
  font-size: 12px;
  margin-left: 10px;
}

@media (max-width: 670px) {
  * {
    font-size: 18px;
  }
  header {
    display: none;
  }
  .header-nav {
    display: none;
  }
  .menu {
    display: none;
  }
  .menuMobile {
    display: none;
    position: absolute;
    top: 0;
    background-color: #646d81;
    width: 150px;
    z-index: 10000;
    top: 85px;
    border: solid black 2px;
  }
  .menuMobile li {
    padding: 5px 15px;
  }
  .menuMobile li a {
    color: white;
  }
  .headerMob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .headerMob .pageTitle {
    font-size: 36px;
    color: #fff;
  }
  .headerMob .fa-search {
    font-size: 36px;
    color: #fff;
    cursor: pointer;
  }
  .icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .hamburger {
    position: relative;
    width: 40px;
    height: 4px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
    margin-left: 12px;
  }
  .hamburger:before,
  .hamburger:after {
    content: "";
    width: 40px;
    height: 4px;
    position: absolute;
    background: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .hamburger:before {
    top: -16px;
  }
  .hamburger:after {
    top: 16px;
  }
  .icon.active .hamburger {
    background: rgba(0, 0, 0, 0);
  }
  .icon.active .hamburger:before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .icon.active .hamburger:after {
    top: 0;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .content {
    height: auto;
  }
  .content__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content__container_title {
    font: 50px Georgia;
  }
  .content__container_select {
    margin-left: 28px;
    border-bottom: dashed 1px;
    font: 50px Georgia;
  }
  .content__container .fa-angle-down {
    font-size: 35px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .content .buttons {
    margin: 90px 0;
  }
  .content .buttons a {
    font-size: 22px;
  }
  .content .buttons a:first-child {
    padding: 27px 40px 27px 30px;
  }
  .content .buttons a:last-child {
    padding: 27px 30px 27px 40px;
  }
  .content .footer {
    position: inherit;
  }
  .content .footer nav {
    padding: 30px 0;
  }
  .content .footer nav ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .content .footer nav ul li a {
    font-size: 18px;
  }
  .content .footer .allrights {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */