button {
  position: absolute;
  top: 0px;
  right: 30px;
  background-color: chartreuse;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  /* background-color: chocolate; */
}

.content-tabs {
  display: flex;
}

.users {
  margin-right: 5px;
  padding: 10px;
  background-color: blue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.active {
  background-color: deepskyblue;
}

.description-user {
  display: none;
}

.description-user.active {
  display: flex;
}

.description-user>div {
  margin-top: 30px;
}

img {
  padding: 30px;
}