button {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: chartreuse;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  height: 100vh;
  background-color: chocolate;
}

.users {
  display: inline-block;
  margin-right: 5px;
  padding: 10px;
  background-color: blue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.active {
  background-color: deepskyblue;
}
