button {
    position: absolute;
    top: 30px;
    right: 130px;
    background-color: chartreuse;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    height: 100vh;
    background-color: chocolate;
}