table {
  border-collapse: collapse;
}

.container {
  margin: 10px;
}

label {
  display: block;
  padding: 5px;
}

button {
  padding: 5px;
  margin-left: 25px;
}

td {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
}

.black {
  background-color: #000;
}

.white {
  background-color: #fff;
}
